<% include head %>
<% include menu %>   

ADMIN PAGE! 

<li><a href="/admin/new-team">Dodaj drużynę</a></li>
<li><a href="/admin/new-match">Dodaj mecz</a></li>
<% include footer %>

<% include layout_end %>
