<% include head %>
<% include menu %>   
<div class="jumbotron">
	<h1>Mecze on-line</h1>
        <p class="lead">Czy kiedykolwiek marzyłeś o tym by zostać menedżerem najlepszej drużyny koszykarskiej na świecie? Już tylko kilka kroków dzieli Cię od tego byś poczuł się jak najważniejsze osoby w profesjonalnych ligach świata piłki koszykowej. Nie wahaj się i dołącz do Koszykarska.pl już dziś!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Zarejestruj się!</a></p>
</div>

<% include footer %>

<% include layout_end %>
