<% include head %>
<% include menu %>
	<fieldset class="fieldsetUser">
  	<legend>Zaloguj się!</legend>

		<form id="loginForm" action="" method="post">
			<p>Login</p> 
			<input type="text" name="username">  
			<p>Hasło</p>
			<input type="text" name="password"><br/>
			<input id="loginButton" type="submit" value="Zaloguj">
		</form>
	</fieldset>

<% include footer %>

