<% include head %>
<% include menu %>   

<h2>ADMIN PAGE</h2>

<form method="post">
	Nazwa: <input type="text" name="name">
	Gracze: <input type="textarea" name="players">
	<input type="submit" value="zapisz">
</form>

<% include footer %>

<% include layout_end %>
