/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-bottom: 20px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .match_summary {
    height:300px;
    position: relative;
  }
  .match_summary .team{
    float:left;
    position: absolute;
  
  }
  .team:last-child {
    right:0px;
  }

  .team_result {
    text-align: center;
    padding-top:20px;
  }
  .team_result span {
    font-size:40px;
  }
  .time_box {
    text-align: center;
  }
  .versus {
    font-size: 30px;
    top: 150px;
    right: 47%;
    float:left;
    position:absolute;
  }
  /* Logo for teams on the match summary */
  .match_summary .team_logo img{
    width:200px;
    height:200px;
  }

  .match-live-box {
  overflow-y: scroll;
  width: 600px;
  height: 300px;
}
  ul.matches_live {
    list-style: none;
  }
  ul.matches_live li {
    padding-bottom: 30px;
    font-size: 18px;
  }

  .fieldsetUser {
    border: 2px solid #428bca;
  padding: 20px;
  }

  .fieldsetUser legend {
  border: none;
  width: auto;
  color: #428bca;
  font-size: 20px;
  padding: 0 10px;
  margin: 0 auto 0 0;
}

}
